@keyframes up {
  from {
    opacity: 0;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rigth {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appear {
  fromm {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-up {
  animation-name: up;
  animation-duration: 320ms;
  animation-fill-mode: backwards;
}

.animate-rigth {
  animation-name: rigth;
  animation-duration: 300ms;
}

.animmation-appear {
  animation-name: appear;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}
