<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>

    <!--ADICIONA CLASSES CRIADAS COM CSS -->
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />

    <!--ADICONA FONTE PERSONALIZADA DE UM LINK -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-landing">
      <!-- INICIO LANDING-->
      <div id="page-container">
        <!-- INICIO CONTAINER-->
        <header>
          <img
            class="animate-up"
            src="/images/logo.svg"
            alt="Logomarca Happy"
          />
          <!-- adiciona imagem de logo marca no inico da pagina-->

          <div class="location animate-up">
            <strong>Paraíba</strong>
            <p>João Pessoa</p>
          </div>
        </header>

        <main>
          <!-- INICIO MAIN -->
          <h1 class="animate-up">Leve felicidade para o mundo</h1>

          <section class="visit">
            <!-- INICIO SELEÇÃO-->
            <p class="animate-up">
              <!-- paragrafo-->
              Visite orfanatos e mude o dia de muitas crianças
            </p>

            <a href="/orphanages" title="Visite Orfanatos" class="animate-up">
              <!-- adiciona texto ao passar mouse no botão-->
              <img src="/images/arrow.svg" alt="Ir para o Mapa" />
              <!-- adiciona botao via uma imagem-->
            </a>
          </section>
          <!-- FINAL SELEÇÃO-->
        </main>
        <!-- FINAL MAIN -->
      </div>
      <!-- FINAL CONTAINER-->
    </div>
    <!-- FINAL  LANDING-->
  </body>
</html>
